*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: inline-block;
}

.container {
    width: 95%;
    height: 230px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    line-height: 1.5;
    padding: 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid red;
    border-radius: 8px;
}

.container h2 {
    text-align: center;
    
}